SFCAssetsAtlases/bin/SFCAssetsAtlases.swf
SFCGame/bin/SFCGame.swf
SFCPreloader/bin/SFCPreloader.swf
SFCAssetsSounds/bin/SFCAssetsSounds.swf
SFCAssetsTextures/bin/SFCAssetsTextures.swf
SFCAssetsData/bin/SFCAssetsData.swf
SFCServer/server/node_modules