<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />

    <title>My Game</title>

    <link rel="stylesheet" href="assets/css/app.css" type="text/css" />

    <script src="vendor/phaser.min.js"></script>
    <script src="my-game.js"></script>

    <script type="text/javascript">
        var game = Game.getGame('content');
    </script>
</head>
<body onload="javascript:game.start();">
    <div id="content"></div>
    <div id="dummy" style="position:fixed;right:0;bottom:0"></div>
    <div id="orientation"></div>
</body>
</html>
